.hero-addcar{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    padding: 20px;
}

.list-input{
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.list-input input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}

.list-input input:focus { 
    outline:none; 
}

.hero-addcar .list-input .btn{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 24px;
    color: black;
    background: linear-gradient(90deg, #FEB3A6 0%, #CDEBFF 100%);
}