.hero-admin{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-admin .admin-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}


.hero-admin .admin-container .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    padding: 24px;
    color: black;
    background: linear-gradient(90deg, #FEB3A6 0%, #CDEBFF 100%);
}
.hero-admin .admin-container .btn{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 24px;
    color: black;
    background: linear-gradient(90deg, #FEB3A6 0%, #CDEBFF 100%);
}